@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: dodgerblue;
  background-color: #15094e;
  font-family: Poppins, sans-serif;
}

h1 {
  @apply text-4xl font-[800];
}

::-webkit-scrollbar {
  width: 2px;
}

div#hourly .icon-class {
  @apply h-[2.5rem] w-auto;
}

.icon-class {
  @apply  h-[4.5rem] w-max mr-2;
}

.direction-class {
  @apply h-[3.5rem] w-max ml-[-.5rem] mr-[-1rem] my-[-1rem];
}
